
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Information</title>
    <link rel="stylesheet" href="{% static 'css/account_info.css' %}">
</head>
<body>
    <div class="container">
        <h1>Account Information</h1>
        <div class="account-info">
            <table>
                <thead>
                    <tr>

                        <th>Name</th>                       
                        <th>Phone Number</th>
                        <th>Request Type</th>
                        <th>Request Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in information %}
                        <tr>
                            <td>{{ x.name }}</td>
                            <td>{{ x.phone }}</td>
                            <td>{{ x.request_type }}</td>
                            <td>{{ x.submit }}</td>
                        </tr>

                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
